.Pencereac91,.Pencereac31, .Pencereac61,.Pencereac1,
.Pencereac92,.Pencereac32,.Pencereac62,.Pencereac2,
.Pencereac93,.Pencereac33,.Pencereac63,.Pencereac3,
.Pencereac94,.Pencereac34,.Pencereac64,.Pencereac4,
.Pencereac95,.Pencereac35,.Pencereac65,.Pencereac5,
.Pencereac96,.Pencereac36,.Pencereac66,.Pencereac6,
.Pencereac97,.Pencereac37,.Pencereac67,.Pencereac7,
.Pencereac98,.Pencereac38,.Pencereac68,.Pencereac8,
.Pencereac99,.Pencereac39,.Pencereac69,.Pencereac9,
.Pencereac100,.Pencereac40,.Pencereac70,.Pencereac10,
.Pencereac101,.Pencereac41,.Pencereac71,.Pencereac11,
.Pencereac102,.Pencereac42,.Pencereac72,.Pencereac12,
.Pencereac103,.Pencereac43,.Pencereac73,.Pencereac13,
.Pencereac104,.Pencereac44,.Pencereac74,.Pencereac14,
.Pencereac105,.Pencereac45,.Pencereac75,.Pencereac15,
.Pencereac106,.Pencereac46,.Pencereac76,.Pencereac16,
.Pencereac107,.Pencereac47,.Pencereac77,.Pencereac17,
.Pencereac108,.Pencereac48,.Pencereac78,.Pencereac18,
.Pencereac109,.Pencereac49,.Pencereac79,.Pencereac19,
.Pencereac110,.Pencereac50,.Pencereac80,.Pencereac20,
.Pencereac111,.Pencereac51,.Pencereac81,.Pencereac21,
.Pencereac112,.Pencereac52,.Pencereac82,.Pencereac22,
.Pencereac113,.Pencereac53,.Pencereac83,.Pencereac23,
.Pencereac114,.Pencereac54,.Pencereac84,.Pencereac24,
.Pencereac115,.Pencereac55,.Pencereac85,.Pencereac25,
.Pencereac116,.Pencereac56,.Pencereac86,.Pencereac26,
.Pencereac117,.Pencereac57,.Pencereac87,.Pencereac27,
.Pencereac118,.Pencereac58,.Pencereac88,.Pencereac28,
.Pencereac119,.Pencereac59,.Pencereac89,.Pencereac29,
.Pencereac120,.Pencereac60,.Pencereac90,.Pencereac30
{
width:1px;
height:1px;
visibility:hidden;
}            

 .Pencereac61:checked + .pencere61, .Pencereac1:checked + .pencere1,
 .Pencereac62:checked + .pencere62, .Pencereac2:checked + .pencere2,
 .Pencereac63:checked + .pencere63, .Pencereac3:checked + .pencere3,
 .Pencereac64:checked + .pencere64, .Pencereac4:checked + .pencere4,
 .Pencereac65:checked + .pencere65, .Pencereac5:checked + .pencere5,
 .Pencereac66:checked + .pencere66, .Pencereac6:checked + .pencere6,
 .Pencereac67:checked + .pencere67, .Pencereac7:checked + .pencere7,
 .Pencereac68:checked + .pencere68, .Pencereac8:checked + .pencere8,
 .Pencereac69:checked + .pencere69, .Pencereac9:checked + .pencere9,
 .Pencereac70:checked + .pencere70, .Pencereac10:checked + .pencere10,
 .Pencereac71:checked + .pencere71, .Pencereac11:checked + .pencere11,
 .Pencereac72:checked + .pencere72, .Pencereac12:checked + .pencere12,
 .Pencereac73:checked + .pencere73, .Pencereac13:checked + .pencere13,
 .Pencereac74:checked + .pencere74, .Pencereac14:checked + .pencere14,
 .Pencereac75:checked + .pencere75, .Pencereac15:checked + .pencere15,
 .Pencereac76:checked + .pencere76, .Pencereac16:checked + .pencere16,
 .Pencereac77:checked + .pencere77, .Pencereac17:checked + .pencere17,
 .Pencereac78:checked + .pencere78, .Pencereac18:checked + .pencere18,
 .Pencereac79:checked + .pencere79, .Pencereac19:checked + .pencere19,
 .Pencereac80:checked + .pencere80, .Pencereac20:checked + .pencere20,
 .Pencereac81:checked + .pencere81, .Pencereac21:checked + .pencere21,
 .Pencereac82:checked + .pencere82, .Pencereac22:checked + .pencere22,
 .Pencereac83:checked + .pencere83, .Pencereac23:checked + .pencere23,
 .Pencereac84:checked + .pencere84, .Pencereac24:checked + .pencere24,
 .Pencereac85:checked + .pencere85, .Pencereac25:checked + .pencere25,
 .Pencereac86:checked + .pencere86, .Pencereac26:checked + .pencere26,
 .Pencereac87:checked + .pencere87, .Pencereac27:checked + .pencere27,
 .Pencereac88:checked + .pencere88, .Pencereac28:checked + .pencere28,
 .Pencereac89:checked + .pencere89, .Pencereac29:checked + .pencere29,
 .Pencereac90:checked + .pencere90, .Pencereac30:checked + .pencere30,
 .Pencereac91:checked + .pencere91, .Pencereac31:checked + .pencere31,
 .Pencereac92:checked + .pencere92, .Pencereac32:checked + .pencere32,
 .Pencereac93:checked + .pencere93, .Pencereac33:checked + .pencere33,
 .Pencereac94:checked + .pencere94, .Pencereac34:checked + .pencere34,
 .Pencereac95:checked + .pencere95, .Pencereac35:checked + .pencere35,
 .Pencereac96:checked + .pencere96, .Pencereac36:checked + .pencere36,
 .Pencereac97:checked + .pencere97, .Pencereac37:checked + .pencere37,
 .Pencereac98:checked + .pencere98, .Pencereac38:checked + .pencere38,
 .Pencereac99:checked + .pencere99, .Pencereac39:checked + .pencere39,
 .Pencereac100:checked + .pencere100, .Pencereac40:checked + .pencere40,
 .Pencereac101:checked + .pencere101, .Pencereac41:checked + .pencere41,
 .Pencereac102:checked + .pencere102, .Pencereac42:checked + .pencere42,
 .Pencereac103:checked + .pencere103, .Pencereac43:checked + .pencere43,
 .Pencereac104:checked + .pencere104, .Pencereac44:checked + .pencere44,
 .Pencereac105:checked + .pencere105, .Pencereac45:checked + .pencere45,
 .Pencereac106:checked + .pencere106, .Pencereac46:checked + .pencere46,
 .Pencereac107:checked + .pencere107, .Pencereac47:checked + .pencere47,
 .Pencereac108:checked + .pencere108, .Pencereac48:checked + .pencere48,
 .Pencereac109:checked + .pencere109, .Pencereac49:checked + .pencere49,
 .Pencereac110:checked + .pencere110, .Pencereac50:checked + .pencere50,
 .Pencereac111:checked + .pencere111, .Pencereac51:checked + .pencere51,
 .Pencereac112:checked + .pencere112, .Pencereac52:checked + .pencere52,
 .Pencereac113:checked + .pencere113, .Pencereac53:checked + .pencere53,
 .Pencereac114:checked + .pencere114, .Pencereac54:checked + .pencere54,
 .Pencereac115:checked + .pencere115, .Pencereac55:checked + .pencere55,
 .Pencereac116:checked + .pencere116, .Pencereac56:checked + .pencere56,
 .Pencereac117:checked + .pencere117, .Pencereac57:checked + .pencere57,
 .Pencereac118:checked + .pencere118, .Pencereac58:checked + .pencere58,
 .Pencereac119:checked + .pencere119, .Pencereac59:checked + .pencere59,
 .Pencereac120:checked + .pencere120,  .Pencereac60:checked + .pencere60
{
 top:50%;
 left:50%;
display:block;
z-index:9;
opacity:1;
 }
 .pencere10, .pencere1,  .pencere99,  .pencere110,
 .pencere11, .pencere2, .pencere100, .pencere111,
 .pencere12, .pencere3, .pencere101, .pencere112,
 .pencere13, .pencere4, .pencere102, .pencere113,
 .pencere14, .pencere5, .pencere103, .pencere114,
 .pencere15, .pencere6, .pencere104, .pencere115,
 .pencere16, .pencere7, .pencere105, .pencere116,
 .pencere17, .pencere8, .pencere106, .pencere117,
 .pencere18, .pencere9, .pencere107, .pencere118,
 .pencere19, .pencere20, .pencere108, .pencere119,
 .pencere31, .pencere21, .pencere109, .pencere120,
 .pencere32, .pencere22, .pencere74, .pencere64,
 .pencere33, .pencere23, .pencere75, .pencere65,
 .pencere34, .pencere24, .pencere76, .pencere66,
 .pencere35, .pencere25, .pencere77, .pencere67,
 .pencere36, .pencere26, .pencere78, .pencere68,
 .pencere37, .pencere27, .pencere79, .pencere69,
 .pencere38, .pencere28, .pencere80, .pencere70,
 .pencere39, .pencere29, .pencere90, .pencere81,
 .pencere40, .pencere30, .pencere91, .pencere82,
 .pencere51, .pencere41, .pencere92, .pencere83,
 .pencere52, .pencere42, .pencere92, .pencere84,
 .pencere53, .pencere43, .pencere93, .pencere85,
 .pencere54, .pencere44, .pencere94, .pencere86,
 .pencere55, .pencere45, .pencere95, .pencere87,
 .pencere56, .pencere46, .pencere96, .pencere88,
 .pencere57, .pencere47, .pencere97, .pencere89,
 .pencere58, .pencere48, .pencere71, .pencere61,
 .pencere59, .pencere49, .pencere72, .pencere62,
 .pencere60, .pencere50, .pencere73, .pencere63,
 .pencere98
 {
position: absolute;
top: -50%;
left: -50%;
width: 260px;
height: 300px;
background: greenyellow;
box-shadow:5px 5px 15px 10px rgba(24,24,24,.9);
opacity:0;
transition: opacity .5s ease-out;
z-index:-1;
padding:10px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: rgb(41, 41, 41);
margin: -18% 0 0 45.5%;
text-align: center;
   }

    
    .dugme{
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;
        background: #eee;
        border: 1px solid #d8d8d8;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #444;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    
    audio{
    position: relative;
    bottom: -5px;
    left: -16px;
    text-align: center;
    }